<!DOCTYPE html>
<html>
<head>
   
    
    
    
    <title>SuperUser</title>
</head>
        <% include ../views/partials/navbar %>
    <h1>Admin Dashboard</h1>
    <div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">

        <table  class='table table-bordered table-striped table-responsive '>    
                
        
        <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>DOB</th>
                        <th>Attendance</th>
                        <th>Late</th>
                    </tr>
                </thead>
                <tbody>
                    

                            
                    <tr>
                    
                        
                            
                            <td><%=data[i].firstname%> <%=data[i].lastname%></td>
                            <td><%=data[i].email%></td>
                            <td><%=data[i].phone%></td>
                            <td><%=data[i].dob.toDateString()%></td>
                            <td><%= data[i].attendance.length/2%></td>
                            <td></td>
                                             
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <h1> <a href="/logout" class="btn btn-primary">Logout</a></h1>

</div>
</div>
</div>
<% include ../views/partials/footer %>